body {
    margin: 0;
    padding: 20px;
    background-color: #f7f4f1;                                        
}

/*MAIN*/

/*header*/
header {
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    padding-left: 35px;
    padding-right: 35px;

    background-color: #eee9e4;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo img {
    width: 100px;
}

.header-logo img:hover{
    width: 110px;
}

.header-logo img:active{
    transform: scale(0.95);
}

.header-links {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.header-links a {
    font-family: 'Quicksand Book', sans-serif;
    font-size: 15px;
    color: #79735e;
    text-decoration: none;
}

.header-links a:hover {
    color: #483333;
    font-size: 17px;
}

.header-links a:active {
    transform: scale(0.95);
}

.icono-perfil {
    font-size: 22px;
    color: #79735e;
}

.icono-perfil:hover {
    color: #483333;
    font-size: 24px;
}

.icono-perfil:active {
    transform: scale(0.95);
}

    /*carrusel*/
#carrusel {
    width: 100%;
    margin-bottom: 20px;
}

.carousel-item img {
    border-radius: 30px;
    width: 100%;
    height: 650px;
}

.carousel-item {
    position: relative;   
}

.contenido-hero1 {
    position: absolute;  
    top: 110px;
    left: 65px;
    color: #f9f4ef
}

.contenido-hero1 p:nth-of-type(1) {
    font-family: 'Julius Sans One', sans-serif; 
    font-size: 15px;
    letter-spacing: 1px; 
    padding-bottom: 30px;                            
}

.contenido-hero1 h1 {
    font-family: 'Lovelo', sans-serif;                                         
    font-size: 120px; 
    line-height: 100px;                           
}

.contenido-hero1 p:nth-of-type(2) {  
    font-family: 'Julius Sans One', sans-serif; 
    font-size: 21px;
    letter-spacing: 1px;                    
}

.button-hero {
    background-color: #e2decf;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 7px;
    padding-top: 7px;
    color: #6a6550;
    margin-top: 25px;
    border: none;
}

.button-hero:active {
    transform: scale(0.95);
}

.button-hero:hover {
    border: 2px solid #e2decf;
    color: #e2decf;
    background-color: transparent;
}

.contenido-hero2 {
    position: absolute;         /*pone el texto encima de la imagen*/
    color: #f9f4ef;
    display:flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;      
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;       
    height: 100%;     

}

.contenido-hero2 > h1 {
    font-family: 'Lovelo', sans-serif; 
    font-size: 130px;    
    text-shadow:1px 1px 0 rgb(176, 179, 171);                                    
}

/*estadisticas*/
.estadisticas {
    width: 100%;
    background-color: #f0ebcd;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 50px;
    padding: 35px;
}

.cantidad {
    margin: 0;
    font-size: 55px;
}

.dato {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Julius Sans One', sans-serif;
    color: #413f2d;
}

.linea {
    background-color: #d8d1ad;
    width: 2px;
    height: 70px;
    
}

.datos-estadistica {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.descripcion-dato {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 15px;
    color: #413f2d;
}

.descripcion-mensaje {
    font-family: 'Quicksand Book', sans-serif;
    font-size: 15px;
    color: #413f2d;
}

.enlace-mensaje a{
    font-family: 'Quicksand Book', sans-serif;
    font-size: 16px;
    color: #9d8034;
}

/*opciones*/
.opciones {
    width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    margin-bottom: 20px;
}

.opcion {
    height: 460px;
    position: relative;
}

.img-opcion {
    width: 100%;
    height: 100%;
    border-radius: 35px;
}

.opcion h2 {
    width: 100%;
    font-family: 'Lovelo', sans-serif;                                         
    color: #f7f4f1;
    font-size: 80px;
    text-align: center;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0; 
    transform: translate(-50%, -50%);
}

.opcion:active {
    transform: scale(0.95);
}

.informacion-hover {
  position: absolute;
  inset: 0;                       /*permite ocupar todo el recuadro */
  opacity: 0;                     /*permite que sea invisible al inicio */
  background-color: #d6cd92;   
  color: #413f2d;
  font-family: 'Quicksand Book', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 35px;
  padding: 35px;
}

.opcion:hover .informacion-hover {
  opacity: 1;
}

/*informacion beNew*/
.informacion {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 25px;
}

.texto-informacion {
    width: 100%;
    padding: 60px;
    background-color: #e6e6e2;
    border-radius: 30px;
    padding-bottom: 15px;
}


.nosotros-informacion {
    width: 100%;
    font-family: 'Quicksand Book', sans-serif;
    font-size: 19px;
}

.enlaces-informacion h1 {
    font-family: 'Lovelo', sans-serif;                                         
    color: #3f3e36;
    font-size: 27px;
}

.img-informacion img {
    height: 100%;
    width: 100%;
    border-radius: 30px;
}

/*footer*/
.footer {
    width: 100%;
    margin-top: 20px;
    height: 140px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    border: 2px solid #7a745e;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-footer {
    width: 30%;
}

.logo-footer img {
    width: 350px;
}

.elementos-footer {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    padding-right: 25px;
}

.redes-footer {
    display: flex;
    gap: 20px;
}

.redes-footer a {
    color: #747059;
    font-size: 20px;
}

.opciones-footer {
    display: flex;
    gap: 25px;
}

.opciones-footer a{
    color: #747059;
    font-size: 13px;
    font-family: 'Julius Sans One', sans-serif; 
    padding-top: 7px;
    text-decoration: none;
}

.redes-footer a:hover {
    color: #483333;
    font-size: 22px;
}

.redes-footer a:active{
    transform: scale(0.95);
}
.opciones-footer a:hover {
    color: #483333;
    font-size: 15px;
}

.opciones-footer a:active{
    transform: scale(0.95);
}


/*DONAR*/
.titulo-donacion {
    background-color: #e1ddd6;
    width: 50%;
    border-radius: 30px;
    margin-bottom: 20px;
}

.titulo-donacion h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    padding-left: 35px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #6b6565;
}

.advertencia-donacion {
    width: 100%;
    background-color: #d6cd92;
    border-radius: 30px;
    margin-bottom: 20px;
}

.titulo-condiciones {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    padding-left: 35px;
    padding-top: 25px;
    color: #5e5858;
}

.lista-condiciones ul {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    padding-left: 65px; 
    color: #f5f5f5;                                 
}

.alternativas-condiciones {
    display:flex;
    justify-content: flex-start;
    gap: 70px;
    padding-right: 35px;
    padding-bottom: 25px;
    padding-left: 65px;
}

.alternativas-condiciones p {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #736f57;
    margin: 0;
    padding-right: 90px;
}

.button-alternativas {
    display: flex;
    gap: 30px;
}

.button-alternativas button {
    background-color: #eadfdb;
    color: #736f57;
    font-family: 'Raleway', sans-serif;
    border: none;
    font-size: 18px;
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 110px;
    height: 32px;
}

.button-alternativas button:hover {
    background-color: transparent;
    border: 2px solid #736f57;
    font-size: 17px;
}

.button-alternativas button:active {
    transform: scale(0.95);
}

.formulario-donacion {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 2px solid #817b65;
    border-radius: 30px;
    background-color: transparent;
}

.fila-form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 45px;
    padding-bottom: 25px;
}

.grupo-formulario {
    width: 100%;
}

.nombre-prenda,
.color-prenda,
.talla-apartado,
.destino-apartado {
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #777260;
}

.form-select {
    width: 100%;
    height: 38px;
    padding-left: 18px;
    padding-right: 18px;
    background-color: white;
    border: 2px solid #96928d;
    border-radius: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #6b6565;
}

.tallas {
    display: flex;
    gap: 12px;
}

.tallas p {
    margin: 0;
    width: 70px;
    height: 32px;
    border: 2px solid #96928d;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #777260;
}

.tallas p:hover {
    background-color: #d6cd92;
    border-color: #d6cd92;
    color: white;
}

.tallas p:active {
    transform: scale(0.95);
}

.opciones-destino {
    display: flex;
    gap: 15px;
}

.opciones-destino button {
    width: 50%;
    height: 45px;
    background-color: white;
    border: 2px solid #96928d;
    border-radius: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #777260;
}

.opciones-destino button:hover {
    background-color: #d6cd92;
    border-color: #d6cd92;
    color: white;
}

.opciones-destino button:active {
    transform: scale(0.95);
}

.boton-enviar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #817b65;
    border: none;
    border-radius: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: white;
}

.boton-enviar:hover {
    color: #65614f;
    background-color:#d7d2bc ;
    border:2px solid #6a6550;
}

.boton-enviar:active {
    transform: scale(0.95);
}

.icono-agregar {
    width: 48px;
    height: 48px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background-color: #dad6bf;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #7a745e;
    font-size: 20px;
    color: #7a745e;
}

.icono-agregar:hover {
    background-color:#7a745e;
    color: #e7e6dd;
}

.icono-agregar:active {
    transform: scale(0.95);
}


/*RECICLAR*/
.titulo-reciclaje {
    background-color: #e1ddd6;
    width: 50%;
    border-radius: 30px;
    margin-bottom: 20px;
}

.titulo-reciclaje h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    padding-left: 35px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #6b6565;
}

.advertencia-reciclar {
    width: 100%;
    background-color: #d6cd92;
    border-radius: 30px;
    margin-bottom: 20px;
}

.titulo-condiciones-reciclar {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    padding-left: 35px;
    padding-top: 25px;
    color: #5e5858;
}

.lista-condiciones-reciclar ul {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    padding-left: 65px; 
    color: #f5f5f5;                                 
}

.alternativas-condiciones-reciclar {
    display:flex;
    justify-content: flex-start;
    gap: 70px;
    padding-right: 35px;
    padding-bottom: 25px;
    padding-left: 65px;
}

.alternativas-condiciones-reciclar p {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #736f57;
    margin: 0;
    padding-right: 90px;
}

.botones-alternativas-reciclar {
    display: flex;
    gap: 30px;
}

.botones-alternativas-reciclar button {
    background-color: #eadfdb;
    color: #736f57;
    font-family: 'Raleway', sans-serif;
    border: none;
    font-size: 18px;
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 110px;
    height: 32px;
}

.botones-alternativas-reciclar button:hover {
    background-color: transparent;
    border: 2px solid #736f57;
    font-size: 17px;
}

.botones-alternativas-reciclar button:active {
    transform: scale(0.95);
}

.formulario-reciclar {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 2px solid #817b65;
    border-radius: 30px;
    background-color: transparent;
}

.fila-form-reciclar {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 45px;
    padding-bottom: 25px;
}

.grupo-formulario-reciclar {
    width: 100%;
}

.nombre-prenda-reciclar,
.material-prenda,
.condicion-apartado,
.destino-apartado-reciclar {
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #777260;
}

.form-select-reciclar {
    width: 100%;
    height: 38px;
    padding-left: 18px;
    padding-right: 18px;
    background-color: white;
    border: 2px solid #96928d;
    border-radius: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #6b6565;
}

.condicion {
    display: flex;
    gap: 12px;
}

.condicion p {
    margin: 0;
    width: 110px;
    height: 32px;
    border: 2px solid #96928d;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #777260;
}

.condicion p:hover {
    background-color: #d6cd92;
    border-color: #d6cd92;
    color: white;
}

.condicion p:active {
    transform: scale(0.95);
}

.opciones-destino-reciclar {
    display: flex;
    gap: 15px;
}

.opciones-destino-reciclar button {
    width: 50%;
    height: 45px;
    background-color: white;
    border: 2px solid #96928d;
    border-radius: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #777260;
}

.opciones-destino-reciclar button:hover {
    background-color: #d6cd92;
    border-color: #d6cd92;
    color: white;
}

.opciones-destino-reciclar button:active {
    transform: scale(0.95);
}

.boton-enviar-reciclar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #817b65;
    border: none;
    border-radius: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: white;
}

.boton-enviar-reciclar:hover {
    color: #65614f;
    background-color:#d7d2bc ;
    border:2px solid #6a6550;
}

.boton-enviar-reciclar:active {
    transform: scale(0.95);
}

.icono-agregar-reciclar {
    width: 48px;
    height: 48px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background-color: #dad6bf;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #7a745e;
    font-size: 20px;
    color: #7a745e;
}

.icono-agregar-reciclar:hover {
    background-color:#7a745e;
    color: #e7e6dd;
}

.icono-agregar-reciclar:active {
    transform: scale(0.95);
}

/*REUTILIZAR*/
.titulo-reutilizar {
    background-color: #e1ddd6;
    width: 50%;
    border-radius: 30px;
    margin-bottom: 20px;
}

.titulo-reutilizar h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    padding-left: 35px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #6b6565;
}

.card {
    width: 100%;
    border: 1px solid #cdc9c2;
    border-radius: 30px;
    background-color: #e6e6e2;
    height: 360px;
}

.card-img-top {
    border-radius: 30px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 270px;
}

.contenedor-card {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.card-body h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #6f6a56;
    justify-content: flex-start;
    padding-left: 12px;
}

.contenedor-card a {
    text-decoration: none;
}

.iconos-prendas {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #7a745e;
    padding-left: 12px;
}

.iconos-prendas i:hover {
    font-size: 20px;
}


/*IDEA*/
.titulo-idea {
    background-color: #e1ddd6;
    width: 50%;
    border-radius: 30px;
    margin-bottom: 20px;
}

.titulo-idea h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    padding-left: 35px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #6b6565;
}

.elementos-idea {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.apartado-video {
    width: 100%;
    border: 2px solid #817b65;
    border-radius: 30px;
    background-color: transparent;
    padding: 20px;
}

.informacion-idea {
    width: 100%;
    border: 2px solid #817b65;
    border-radius: 30px;
    background-color: transparent;
    padding: 20px;
}

iframe {
    width: 100%;
    border-radius: 30px;
}

.informacion-idea {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.informacion-idea h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #6f6a56;
    justify-content: flex-start;
    
}

.informacion-idea p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #73726e;
    justify-content: flex-start;

}

.iconos-prendas-idea {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color: #878681;
}

.dificultad-idea p {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #93928e;
    justify-content: flex-start;
}

.icono-menu {
    display: none;
}


/*main responsivo*/
@media (max-width: 650px) {
    body {
        padding: 10px;
    }

    /*header responsivo*/
    header {
        width: auto;
        height: 50px;
        margin-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 25px;
    }

    .header-logo img {
        width: 85px;
    }

    .header-links {
        display: none;
    }

    .icono-perfil {
        display: none;
    }

    .icono-menu {
        display: block;
        font-size: 22px;
        color: #79735e;
    }

    /* hero */
    #carrusel {
        width: 100%;
        margin-bottom: 10px;
    }

    .carousel-item img {
        width: 100%;
        height: 350px;
        border-radius: 25px;
    }

    .contenido-hero1 {
        top: 55px;
        left: 25px;
    }

    .contenido-hero1 p:nth-of-type(1) {
        font-size: 9px;
        letter-spacing: 1px;
        padding-bottom: 12px;
        margin-bottom: 0;
    }

    .contenido-hero1 h1 {
        font-size: 45px;
        line-height: 43px;
        margin-top: 0;
        margin-bottom: 12px;
    }

    .contenido-hero1 p:nth-of-type(2) {
        font-size: 7px;
        letter-spacing: 1px;
        margin-bottom: 15px;
    }

    .button-hero {
        margin-top: 16px;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 12px;
        padding-right: 12px;
        font-size: 11px;
    }

    .contenido-hero2 > h1 {
        font-size: 48px;
        line-height: 45px;
        padding-left: 20px;
        padding-right: 20px;
    }

    /*estadisticas responsivas*/
    .estadisticas {
        width: auto;
        grid-template-columns: 2fr 1fr;
        gap: 10px;
        padding: 15px;
        border-radius: 20px;
    }

    .datos-estadistica {
        gap: 6px;
    }

    .cantidad {
        font-size: 24px;
    }

    .descripcion-dato {
        font-size: 8px;
        text-align: center;
    }

    .linea {
        width: 1px;
        height: 40px;
    }

    .descripcion-mensaje {
        font-size: 9px;
        margin-top: 0;
        margin-bottom: 5px;
    }

    .enlace-mensaje a {
        font-size: 9px;
    }

    /* opciones */
    .opciones {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 7px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .opcion {
        height: 190px;
    }

    .img-opcion {
        border-radius: 18px;
    }

    .opcion h2 {
        font-size: 25px;
        line-height: 25px;
    }

    .informacion-hover {
        padding: 10px;
        border-radius: 18px;
        font-size: 9px;
    }

    .informacion {
        grid-template-columns: 2fr 1fr;
        gap: 7px;
    }

    .texto-informacion {
        padding: 15px;
        padding-bottom: 10px;
        border-radius: 18px;
    }

    .nosotros-informacion {
        font-size: 10px;
        margin-top: 0;
    }

    .enlaces-informacion h1 {
        font-size: 14px;
        line-height: 15px;
    }

    .img-informacion img {
        border-radius: 18px;
    }

    /*footer responsivo*/
    .footer {
        width: auto;
        height: auto;
        padding: 20px 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
    }

    .logo-footer {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .logo-footer img {
        width: 190px;
    }

    .elementos-footer {
        width: 100%;
        align-items: center;
        padding-right: 0;
        padding-top: 15px;
    }

    .redes-footer {
        gap: 20px;
    }

    .redes-footer a {
        font-size: 18px;
    }

    .opciones-footer {
        width: 100%;
        justify-content: center;
        gap: 10px;
        margin-top: 8px;
    }

    .opciones-footer a {
        font-size: 9px;
        text-align: center;
        padding-top: 0;
    }
}
